@import '../styles/variables.scss';

body {
    background-color: $white;
    font-family: 'Inter';
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100%;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;

    .image {
        img {
            height: auto;
            width: 600px;
        }
    }

    form {
        display: flex;
        justify-content: center;
        background-color: $white;
        border-radius: 12px;
        width: 400px;
        padding: 40px 20px;
    
        .form-info {
            width: 90%;
            text-align: center;

            h2 {
                font-size: 32px;
                color: $black;
                margin: 0 0 5px 0;
                text-align: center;
            }
    
            h2,
            input {
                color: $black;
            }
    
            span {
                color: #808080;
            }
    
            input {
                height: 56px;
                width: 96%;
                border: 1px solid $gray;
                border-radius: 10px;
                outline: none;
                padding-left: 10px;
                font-size: 16px;
                font-weight: 400;
                background-color: unset;
                caret-color: $black;
                margin-bottom: 10px;
            }
    
            input[type="text"] {
                margin-top: 20px;
            }
    
            .btn-submit-form {
                color: $white;
                font-weight: 400;
                width: 100%;
                background-color: #3066BE;
                cursor: pointer;
                transition: .3s;
    
                &:hover {
                    background-color: #407BFF;
                }
            }
    
            p {
                color: red;
                font-size: 14px;
                margin: 0 0 5px 0;
                text-align: left;
            }
        }
    }
}

@media (max-width: $layout-breakpoint-large) {
    .login {
        .image {
            order: 2;
        }
    }
}


@media (max-width: $layout-breakpoint-small) {
    body {
        background-image: unset;

        #root {
            align-items: flex-start;
        }

        .login {
            .image {
                img {
                    width: 350px;
                }
            }

            form {
                width: 87%;
                padding-bottom: 0;
        
                .form-info {
                    width: 100%;
    
                    h2 {
                        font-size: 28px;
                    }
        
                    input {
                        margin-bottom: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $layout-breakpoint-small) and (max-width: $layout-breakpoint-large) {
    .login {
        margin-top: 5rem;
    }
}