$white: #fff;
$black: #333;

body {
    background-color: $white;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    color: $black;
    font-size: 32px;
}

#root {
    margin-left: 5rem;
}

form {
    background-color: $white;
    border-radius: 26px;
    height: 500px;
    width: 500px;
    text-align: center;
    padding: 20px;
    
    input {
        height: 56px;
        width: 80%;
        border-radius: 10px;
        border: none;
        padding: 0 0 0 10px;
        background-color: #d9d9d9;
        margin-bottom: 15px;
        color: $black;
        font-size: 14px;
        font-weight: 600;
    }
}